.intro {
  padding: 96px 32px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .intro__left {
      width: 60%;
      &--title {
        display: flex;
        gap: 10px;
        align-items: center;
        h1 {
          color: var(--gray-900, #111827);
          font-family: Inter;
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: 72px;
          letter-spacing: -1.2px;
        }
        .h1__dark {
          color: #fff;
        }
      }

      p {
        color: var(--gray-600, #4b5563);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      .p_dark-intro {
        color: #fff;
      }

      .intro__location {
        margin: 48px auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        div {
          display: flex;
          align-items: center;
          gap: 8px;
          .dot {
            width: 8px;
            height: 8px;
            flex-shrink: 0;
            border-radius: 20px;
            background: var(--emerald-500, #10b981);
            margin-left: 9px;
            margin-right: 7px;
          }
        }
      }

      .intro__links {
        display: flex;
        gap: 4px;
        align-items: center;
        a {
          padding: 6px;
          &:hover {
            background-color: #e5e7eb;
            border-radius: 5px;
          }
        }
      }
    }

    .intro__right {
      position: relative;
      width: 300px;
      height: 200px;

      .one {
        width: 280px;
        height: 320px;
        object-fit: cover;
        position: absolute;
        top: -30%;
        left: -10%;
        z-index: 20;
        border: 8px solid var(--gray-default, #fff);
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      }

      .bottom-image {
        height: 320px;
        background: #e5e7eb;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .intro {
    &__wrapper {
      .intro__left {
        &--title {
          h1 {
            font-size: 42px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 945px) {
  .intro {
    &__wrapper {
      flex-direction: column-reverse;
      gap: 100px;

      .intro__right {
        display: flex;
        justify-content: center;
        .one {
          width: 240px;
          height: 280px;
          left: 30px;
          top: -5%;
        }

        .bottom-image {
          width: 280px;
          height: 280px;
        }
      }

      .intro__left {
        width: 100%;
        &--title {
          justify-content: center;
          h1 {
            font-size: 36px;
          }
        }

        p {
          text-align: center;
        }
        .ddd {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          .intro__location {
            width: 50%;
          }

          .intro__links {
            justify-content: end;
            width: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .intro {
    margin-top: -120vh;
  }
}

@media only screen and (max-width: 577px) {
  .intro {
    margin: -120vh 20px;
    &__wrapper {
      .intro__left {
        .ddd {
          flex-direction: column;
          justify-content: start;
          .intro__location {
            width: 100%;
          }

          .intro__links {
            width: 100%;
            justify-content: start;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 501px) {
  .intro {
    &__wrapper {
      .intro__left {
        p {
          margin-top: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 382px) {
  .intro {
    &__wrapper {
      .intro__left {
        &--title {
          justify-content: start;
          gap: 5px;
          h1 {
            line-height: 36px;
          }
        }

        p {
          text-align: start;
        }

        .intro__location {
          margin: 20px auto;
        }
      }
    }
  }
}
